@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body { 
padding: 0;
margin: 0;
border: 0;
overflow: hidden;
font-family: 'Noto Sans', sans-serif;
}

.container {
display: flex;
height: 100%;
width: 100%;

}
.backgroundImage { 

    height: 100vh;
    width: 34%;
}


.submitPage { 

background-color: #EFEFEF;    
height: 100vh;
width: 66%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.header { 
font-size: 1.85rem;
width: 65%;
margin-left: -10%;
margin-right: 15%;
margin-top: 5%;
font-weight: 700;

}

.submitSection {
    display: flex;
    
    flex-direction: column;
   justify-content: center;
    /* align-items: center;  */
    margin-top: 10%;
    box-shadow: inset;
    width: 100%;
    height: 46%;
    background: #F9F9F9;
    font-weight: 700;
    padding-bottom: 4%;
}
.formStyle {
    display: flex;
    flex-direction: column;
    

}
.submitForm { 
margin-left: 3rem;
}
.submitHeader { 

    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
} 


.formInputs
{ 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    width:80%;
    
}

input {
    height: 1.5rem;
    width: 20rem;
    border-color: lightgrey;
    border-radius: 3px;
    border-width: 2px;
    opacity: 96%;
}

.lowerSection { 
    margin-top: 5%;
    width: 100%;
    height: 40%;
   
}
.button2 {  
margin-left: 5%;
background-color: #5F7161;
color: white;
width: 12rem;
height: 3rem;
border-width: 0px;
border-radius: 4px;
font-size: 1rem;
font-weight: 400;
}

.button2:hover {
    cursor: pointer;
}